.products {
    display:flex ;

margin :2%  auto ;
background-color:azure
  }
 

  ul  {flex-wrap: wrap;
    list-style-type: none;
    width :50%
}
.sp1 { display:bloc;
    margin:0 5px ;
    ;
    font-weight: bold;
    font-size:30px;
}